<div class="header bg-gradient-danger pb-8 pt-5 pt-md-8">
    <div class="container-fluid">
      <div class="header-body">
      </div>
    </div>
  </div>
  <div class="container-fluid mt--7">
    <div class="row">
      <div class="col">
        <div class="card shadow">
          <div class="card-header border-0">
            <h3 class="mb-0">Lista dos 3 maiores clientes</h3>
          </div>
          <div class="table-responsive">
            <table class="table align-items-center table-flush">
              <thead class="thead-light">
                <tr>
                  <th scope="col">CPF</th>
                  <th scope="col">Nome</th>
                  <th scope="col">Cidade</th>
                  <th scope="col">Estado</th>
                  <th scope="col">Saldo da Conta</th>
                </tr>
              </thead>
              <tbody>
                <tr>
                  <th scope="row">123.456.789-01</th>
                  <td>João da Silva</td>
                  <td>São Paulo</td>
                  <td>SP</td>
                  <td>$ 3,500.00</td>
                </tr>
                <tr>
                  <th scope="row">987.654.321-00</th>
                  <td>Maria Souza</td>
                  <td>Rio de Janeiro</td>
                  <td>RJ</td>
                  <td>$ 2,000.00</td>
                </tr>
                <tr>
                  <th scope="row">555.888.777-44</th>
                  <td>Pedro Oliveira</td>
                  <td>Salvador</td>
                  <td>BA</td>
                  <td>$ 1,000.00</td>
                </tr>
              </tbody>
            </table>
          </div>
          <div class="card-footer py-4">
            <nav aria-label="...">
              <ul class="pagination justify-content-end mb-0">
              </ul>
            </nav>
          </div>
        </div>
      </div>
    </div>
  </div>  