<div class="header bg-gradient-danger pb-8 pt-5 pt-md-8">
  <div class="container-fluid">
    <div class="header-body">
      <!-- Card stats -->
      <div class="row">
        <div class="col-xl-3 col-lg-6">
          <div class="card card-stats mb-4 mb-xl-0">
            <div class="card-body">
              <div class="row">
                <div class="col">
                  <h5 class="card-title text-uppercase text-muted mb-0">Usuários pendentes</h5>
                  <span class="h2 font-weight-bold mb-0">3</span>
                </div>
                <div class="col-auto">
                  <div class="icon icon-shape bg-danger text-white rounded-circle shadow">
                    <i class="fas fa-user-clock"></i>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="col-xl-3 col-lg-6">
          <div class="card card-stats mb-4 mb-xl-0">
            <div class="card-body">
              <div class="row">
                <div class="col">
                  <h5 class="card-title text-uppercase text-muted mb-0">Usuários ativos</h5>
                  <span class="h2 font-weight-bold mb-0">12</span>
                </div>
                <div class="col-auto">
                  <div class="icon icon-shape bg-success text-white rounded-circle shadow">
                    <i class="fas fa-user-check"></i>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- Page content -->
<div class="container-fluid mt--7">
  <div class="row">
    <div class="col">
      <div class="card shadow">
        <div class="card-header border-0">
          <h3 class="mb-0">Cadastros sob aprovação</h3>
        </div>
        <div class="table-responsive">
          <table class="table align-items-center table-flush">
            <thead class="thead-light">
              <tr>
                <th scope="col">CPF</th>
                <th scope="col">Nome</th>
                <th scope="col">Salário</th>
                <th scope="col"></th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <th scope="row">123.456.789-00</th>
                <td>Leonardo Silva</td>
                <td>$2,420.02</td>
                <td class="text-right">
                  <button class="btn btn-success btn-sm">Aprovar</button>
                  <button class="btn btn-danger btn-sm">Recusar</button>
                </td>
              </tr>
              <tr>
                <th scope="row">987.654.321-00</th>
                <td>Cristiano Brasil</td>
                <td>$353.00</td>
                <td class="text-right">
                  <button class="btn btn-success btn-sm">Aprovar</button>
                  <button class="btn btn-danger btn-sm">Recusar</button>
                </td>
              </tr>
              <tr>
                <th scope="row">555.123.789-00</th>
                <td>Michael Costa</td>
                <td>$1.20</td>
                <td class="text-right">
                  <button class="btn btn-success btn-sm">Aprovar</button>
                  <button class="btn btn-danger btn-sm">Recusar</button>
                </td>
              </tr>
            </tbody>
          </table>
        </div>
        <div class="card-footer py-4">
          <nav aria-label="...">
            <ul class="pagination justify-content-end mb-0">
            </ul>
          </nav>
        </div>
      </div>
    </div>
  </div>
</div>
